.Person {
    width: 60%;
    margin: 16px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
    text-align: center;
}

/* margin
      The CSS margin properties are used to create space around elements, 
      outside of any defined borders.

      If the margin property has 4 values:
        margin: 25px 50px 75px 100px;
         => mean margin: [top] [right] [bottom] [left]
        top margin is 25px
        right margin is 50px
        bottom margin is 75px
        left margin is 100px

      If the margin property has 3 values:
        margin: 25px 50px 75px;
         => mean margin: [top] [right and left] [bottom]
        top margin is 25px
        right and left margins are 50px
        bottom margin is 75px

    If the margin property has 2 values:
        margin: 25px 50px;
         => mean margin: [top and bottom] [right and left]
        top and bottom margins are 25px
        right and left margins are 50px

    If the margin property has 1 value:
        margin: 25px;
        all four margins are 25px
    
    * The auto value
        You can set the margin property to auto to horizontally center the element within its container.
*/ 

/* padding
        The CSS padding properties are used to generate space around an element's content,
        inside of any defined borders.   

    ** have property like margin.
*/